.contato__form input::placeholder{
    padding-left: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.contato__form textarea::placeholder{
    padding-left: 10px;
}

.contato__form input {
    width: 99%;
    border: 1px solid #1E2836;
    height: 2.5rem;
    outline: none;
    background: none;
    border-radius: 0.25rem;
    color: white;
}

.contato__form input:hover {
    box-shadow: 0 1px 5px rgb(255, 255, 255);
}

.contato__form input:focus{
    border: 1px solid #fff;
}


.contato__form textarea{
    width: 99%;
    border: 1px solid #1E2836;
    outline: none;
    background: none;
    background: none;
    border-radius: 0.25rem;
    /*padding-left:  0.75rem;*/
    padding-top:  0.75rem;
    color: white;
}

.contato__form textarea:focus{
    border: 1px solid #fff;
}

.contato__form textarea:hover {
    box-shadow: 0 1px 5px rgb(255, 255, 255);
}


@media (min-width: 800px) {


    .grid__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .md_mt__0{
        margin-top: 0px;
    }
    .contato__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .md_text__16{
        font-size:1rem;
    }

}

@media (min-width: 600px) {

}